<h1>Edit Stable</h1> <!--fenêtre édition des Stables-->

<%= form_with(model: @stable, local: true) do |form| %>
  <% if @stable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stable.errors.count, "error") %> prohibited this stable from being saved:</h2>

      <ul>
        <% @stable.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %> <!--nom stable-->
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.fields_for :address do |address_fields| %>
      <div>
        <%= address_fields.label :line1 %> <!--line 1 d'adresse-->
        <%= address_fields.text_field :line1 %>
      </div>
      <div>
        <%= address_fields.label :zipcode %> <!--zipcode d'adresse-->
        <%= address_fields.text_field :zipcode %>
      </div>
      <div>
        <%= address_fields.label :city %> <!--city d'adresse-->
        <%= address_fields.text_field :city %>
      </div>
      <div>
        <%= address_fields.label :country %> <!--country d'adresse-->
        <%= address_fields.text_field :country %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @stable %> |
<%= link_to 'Back', stables_path %>
